<body>
    <div class="main-content">
        <div class="section-content section-content-p30" style="align-items: center;">
            <div class="container-fluid">
                <h1 style="text-align: center;"><strong>WELCOME</strong></h1>
                <h2 style="text-align: center; margin-top: 5%;">Product Management</h2>
            </div>
            <div style="align-items: center; margin-left: 40%; margin-top: 5%;">
                <input type="submit" value="Product" class="btn btn-primary btn-lg" (click)="showProduct()"/>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <input type="submit" value="Category" class="btn btn-primary btn-lg" (click)="showCategory()"/>
            </div>
        </div>
    </div>
</body>