/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 5px;
    background-color: lightcyan;
}
h2{
    text-align: center;
}
table{
    color: black;
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}